*
{
  margin :0;
  padding :0;
  box-sizing: border-box;
}

body {
    font-size: 15pt;
    width:min(100%,480px);
    margin :auto auto auto auto ;
    height :100vh;
    transition :all .2s ease-in-out ;
    font-family: 'Varela Round', sans-serif;
}

header 
{
  width:min(100%, 480px);
  margin :auto auto auto auto;
  position:fixed ;
  top: 0;
  display :flex ;
  justify-content :space-between ;
  align-items :center ;
  padding :20px ;
  background :#F4F6FC ;
  z-index :10;
  border :1px solid #BCC4C8 ;
  
}

header h1 
{
  font-size: 1em ;
}

header button 
{
  outline :none ;
  border :1px solid #BCC4C8 ;
  background :#FFFFFF ;
  display :block ;
  width:35px;
  height :35px;
  box-shadow :0 0 7px inset rgba(3,3,3,.2);
}



.search_container
{
 width:min(100%,480px);
 height :100vh;
 margin :20% auto 0 ;
}

.input 
{
  width :100%;
  padding :10px ;
}

.input input 
{
  outline: none ;
  padding :10px ;
  width :100%;
  font-size :1em ;
 font-family: 'Varela Round', sans-serif;
}

.search_container h2 
{
  font-size :.8em;
  padding :10px ;
}

.wrapper {
  width :100%;
  height :auto ;
  display :flex ;
  justify-content :center ;
  align-items :center ;
  flex-wrap: wrap;  
  gap:5px ;
   padding-bottom :100px ;

}

.card 
{
  border :1px solid #A1BBE2;
  width :48%;
  height :330px;
}
.card_img 
{
  width :100%;
  height:70%;
  position :relative ;
  padding :10px ;
}

.card_img img 
{
  width :100%;
  height :100%;
  object-fit :cover;
}
.card_img button 
{
  position :absolute;
  right: 10px;
  top: 10px;
  outline :none;
  border :1px solid #BCC4C8;
  color :red;
  background :#FFFFFF;
  display :block;
  width:35px;
  height :35px;
  border-radius :5px 3px 4px 2px;
  box-shadow :0 0 7px inset rgba(3, 3, 3, .2);
}



.title 
{
  width :100%;
  padding :4px ;
}

.title h5 
{
  font-size :.5em;
  padding :10px ;
}
.title span 
{
  display :block ;
  
}












.nav_bottom 
{
  position :fixed ;
  bottom :0 ;
  width:min(100%,480px);
  display :flex ;
  justify-content :space-around;
  align-items :center ;
  padding :10px ;
  background :#F4F6FC;
  z-index :10;
  border :1px solid #BCC4C8;
}

.nav_bottom button 
{
  outline :none;
  border :1px solid #BCC4C8;
  background :#FFFFFF;
  display :block;
  width:35px;
  height :35px;
  border-radius :5px 3px 4px 2px ;
  box-shadow :0 0 7px inset rgba(3, 3, 3, .2);
}


.nav_bottom button a 
{
  color : #252525;
  text-decoration: none;
  outline :none ;
  
}
